.Logo {
  font-size: 50px;
  align-items: center;
  border: 6px solid;
  padding: 20px 10px;
  color: white;
  font-family: JetBrains Mono, monospace;
  font-weight: 500;
  box-shadow: 1px 1px 2px black, 0 0 25px darkslategray, 0 0 5px gray;
  text-shadow: 1px 1px 2px black, 0 0 25px darkslategray, 0 0 5px gray;
}
