@font-face {
  font-family: "JetBrainsMono-Bold";
  src: local("JetBrainsMono-Bold"),
    url(./fonts/JetBrainsMono-Bold.ttf) format("truetype");
}

.App {
  text-align: center;
}

.App-Logo {
  font-size: 2em;
  align-items: center;
  border: 6px solid;
  padding: 20px 10px;
  color: white;
  font-weight: 500;
  font-family: JetBrainsMono-Bold;
  box-shadow: 1px 1px 2px black, 0 0 25px darkslategray, 0 0 5px gray;
  text-shadow: 1px 1px 2px black, 0 0 25px darkslategray, 0 0 5px gray;
  cursor: pointer;
  margin: 30px auto;
}

.App-content {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 16px;
}

.App-link {
  color: #61dafb;
}

a {
  color: white;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App-results {
  flex-shrink: 2;
  width: 100%;
}

.App-category {
  margin-bottom: 25px;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .App-main {
    flex-direction: initial;
  }

  .App-category {
    padding: 0 2em;
    position: sticky;
    top: 0;
    width: 40%;
  }
}
